@media (max-width: 1140px){
   .fashion__card{
      width: calc((100% - 60px) / 4);
   }
   .fashion__card img{
      width: 100%;
   }
   .product__card{
      width: calc((100% - 60px) / 4);
   }
   .footer__col{
      width: calc((100% - 60px) / 4);
   }
} 

@media (max-width: 992px) {
   .header__nav .container{
      flex-direction: column;
      gap: 15px;
   }
   .fashion__cards,
   .product__cards,
   .footer .container{
      flex-wrap: wrap;
      row-gap: 30px;
   }
   .fashion__card,
   .product__card,
   .footer__col{
      width: calc((100% - 30px) / 2);
   }
   .product__info-img{
      width: 100%;
   }
   .fashion__card span,
   .product__info .product__menu{
      bottom: 0;
   }
   .product__info .product__menu{
      bottom: 0;
   }
   .header__content-title{
      text-align: center;
   }
}
@media(max-width:576px){
   .header__list{
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
      row-gap: 10px;
   }
   .fashion__card,
   .product__card,
   .footer__col{
      width: 100%;
   }
   .subtitle{
      max-width: 100%;
      
   }
   .title{
      font-size: 46px;
   }
}